In [2]:
'''Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple '''
var1=['sri',[1,23,5,'s'],53.225,('h',5,2)]
var1

['sri', [1, 23, 5, 's'], 53.225, ('h', 5, 2)]

In [5]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1),type(var2),type(var3),type(var4))
#Answer is str,str,list and int

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

In [7]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **'''
# operator /: it is devisional operator
print(8/4)
#Ans:2.0
# operator %: it is mod operator
print(5%4)
#Ans:1
# operator //: it is floor division operator
print(7//5)
#Ans:1
# operator **: it is power operator
print(8**2)
#Ans:64

2.0
1
1
64

In [24]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''
L=[1,'sri',1+2j,True,5.56,'Hi',215,4,8,[1,2]]

In [25]:
for i in range(10):
    print(L[i])
    print(type(L[i]))

1
<class 'int'>
sri
<class 'str'>
(1+2j)
<class 'complex'>
True
<class 'bool'>
5.56
<class 'float'>
Hi
<class 'str'>
215
<class 'int'>
4
<class 'int'>
8
<class 'int'>
[1, 2]
<class 'list'>

In [27]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''
A=int(input())
B=int(input())
if A%B==0:
    print("A is purly divisable by B")
    print(A//B)
else:
    print("A is not purly divisable by B")

 8
 4

A is purly divisable by B
2

In [38]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

for i in range(25):
    if i%3==0:
        print(i, " is divisible by 3")
    else:
        print(i," is not divisible by 3")
    i=i+1

0  is divisible by 3
1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3

In [39]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''
L=[1,5,'Sri','vasu']

In [41]:
#Mutable
L[2]='abc'
L

[1, 5, 'abc', 'vasu']

In [42]:
#Immutable
L[2][1]='a'

TypeError: 'str' object does not support item assignment